:root {
    --primary: #f55a5a;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: #2b283a;
    font-size: 1rem;
}

/* Navbar */
.navbar {
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-left: 0.75rem;
}

/* Card */
.cards {
    margin: auto;
    padding: 1rem 2rem;
}
.card {
    padding: 1.5rem 0;
}
.card:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
}

.card img.picImg {
    margin-bottom: 1rem;
    border-radius: 5px;
    object-fit: cover;
}

.card div {
    align-self: center;
}

.card span.location {
    letter-spacing: 0.17em;
    text-transform: uppercase;
    margin: 0 1.25rem 0 0.25rem;
}

.card a.viewMaps {
    line-height: 12px;
    color: #918e9b;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}
.card a.viewMaps:hover {
    color: var(--primary);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.card h2.title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.card p.date {
    font-weight: 700;
}

/* RESPONSIVE */
@media screen and (min-width: 720px) {
    .cards {
        max-width: 720px;
    }
}

@media screen and (min-width: 650px) {
    .card {
        display: flex;
    }

    .card img.picImg {
        width: 210px;
        height: 250px;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }
}
